# Проект Euanosphere
# Ігнорує залишки від тестування
*.log
*.звіт
/output/
/input/

# Директорія з файлами перекладу, спецефічних саме для того, над котрим зараз працюю (непотрібно)
/FinalModTest/
/weblate/
/input/
/input+/
/input_mb/

# Аналіз якості коду і виконання дизассемблером
/Deconstruire/

# Директорія з застарілими звітами
/back_ups/

# Директорії резервних копій і двійкових файлів студії Lazarus
/lib/
/backup/

# Файл кінцевої виконівки
*.exe